body {
    padding: 1cm 4cm 1cm 4cm;
    font: bold 14pt arial, sans-serif;
    color: grey;
}
div.section {
    padding: 2mm;
    margin: 4mm;
    border: 3px solid grey;
    border-radius: 8px;
}
input {
    position: absolute;
    left: 10cm;
    background: lightgrey;
}
