body {
    padding: 0cm 4cm;
    font: bold 14pt arial, sans-serif;
    color: grey;
}
p {
    margin: 0mm
}
h1,p,input.outer {
    margin: 0mm 8mm;
}
div {
    padding: 2mm;
    margin: 4mm;
    border-radius: 8px;
}
div.section {
    border: 3px solid grey;
}
div.option {
    border: 1px solid grey;
    display: none;
}
input {
    background: lightgrey;
}
td.wiiide {
    width: 100%;
}
