body {
    padding: 0.5cm 4cm;
    font: bold 14pt arial, sans-serif;
    color: grey;
}
p {
    margin: 0mm
}
h1,p.outer {
    margin: 0mm 7mm;
}
div.section {
    padding: 2mm;
    margin: 4mm;
    border: 3px solid grey;
    border-radius: 8px;
}
input {
    background: lightgrey;
}
